/*importación de la fuente externa desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*
que todos los <p> tengan color de texto #0f0f0f
que todos los titulos esten centrados
que las listas y parrafos tengan un interlineado de 1,2
que los titulos y subtitulos tengan las letras en color azul
demostrar la navegacion por anclas
que el scroll hasta la seccion sea suave
que el display flex sea en columna y que su eje principal sea vertical
que el eje secundario este centrado
que el margen tenga un width de 50px
que la seccion secundaria hnlemos tenga un fondo de color
*/

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
} 

body{
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    color: #0f0f0f;
    /* font-family: cursive; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/

main {
    max-width: auto;
    margin: auto;
}

img{
    max-width: 100%;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    background-color: #fbfbfb;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 16px;
}

.contenedorSeccion1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

/* centrar la imagen y hacer la redonda */

.imagen-portada {
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#inicio {
    padding-top: 100px;
}

section{
    min-height: 100vh;
    padding: 20px;
}

h1{
    font-size: 36px;
    margin: 2rem 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    padding: 16px;
    display: inline-block;
    font-weight: bold;
}

p {
    text-align: justify;
    padding: 20px;
}

.descargar-CV {
    background-color: #af599e;
    border: 1px solidcolor #af599e;
    border-radius: 10px;
    text-align: center;
    font-size: 20px ;
    width: 200px;
    padding: 1rem;
    color: white;
}

.item-list {
    text-align: left;
}

.iconos {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.icono {
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos li a {
    padding: 16px;
    display: inline-block;
}

footer {
    display: flex;
    background-color: #af599e;
    height: 90px;
    color: #fbfbfb;
    padding: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* .box{ */
    /* display: flex; */
    /*el eje principal es vertical*/
    /* flex-direction: column;  */
    /* eje pricipal*/
    /* justify-content: centered; */
    /* eje secundario*/
    /* width: 400px; */
    /* height: 400px; */
/* } */

/* p { 
    color:#0f0f0f;
    font-size: 18px;
    display: flex;
    align-items: center; 
    line-height: 1,2;
    padding: auto;
} */

/* .centered{
    text-align: center;
} */

/* ul{
    line-height: 1,2;
    width: 20px;
    
} */

/* h1{
    color: none;
    font-size: 36px;
    text-transform: uppercase;
} */

h2, h3{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
} 

.hablemos {
    text-align: center;
    border-radius: 10px ;
    background-color:rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    border: 20px ;
    padding: 3rem;
    margin-bottom: 3rem;
}

/* img{
    width: 400px;
 border-radius: 50%;
} */

/* header{
    height: 90px;
    border: none;
    color: #fbfbfb;
} */

/* .secundaria{
    background-color: rgba(175,89,158,0.3)
    color rgba(175,89,158,0.3)
} */

/* .imgfacebook
{
 width: 40px;
} */
/* strong{
color: deeppink;
} */
/* .footer{
  height: 90px; 
  background-color: #af599e; 
  content: centered;
  min-height: 100vh;

} */
/* .color{
  background-color: rgb #af599e;
 color: #fbfbfb;
 width: 20px 20px;
 
 } */
 
 /* .border {
    color: #0f0f0f;
    background-color: rgba(175,89,158,0.3);
    text-transform: uppercase;
    align-content: center;
    size: 20px;
}    */